<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>towerId</key>
		<integer>0</integer>
		<key>towerName</key>
		<string>BaseTower1</string>
		<key>towerCurrectName</key>
		<string>塔1</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>3</integer>
			<integer>6</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>1</integer>
		<key>towerName</key>
		<string>BaseTower2</string>
		<key>towerCurrectName</key>
		<string>塔2</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>12</integer>
			<integer>9</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>2</integer>
		<key>towerName</key>
		<string>BaseTower3</string>
		<key>towerCurrectName</key>
		<string>塔3</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>15</integer>
			<integer>18</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>3</integer>
		<key>towerName</key>
		<string>Tower1_1_1</string>
		<key>towerCurrectName</key>
		<string>塔1_1_1</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>4</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>4</integer>
		<key>towerName</key>
		<string>Tower1_1_2</string>
		<key>towerCurrectName</key>
		<string>塔1_1_2</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>5</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>5</integer>
		<key>towerName</key>
		<string>Tower1_1_3</string>
		<key>towerCurrectName</key>
		<string>塔1_1_3</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array/>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>6</integer>
		<key>towerName</key>
		<string>Tower1_2_1</string>
		<key>towerCurrectName</key>
		<string>塔1_2_1</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>7</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>7</integer>
		<key>towerName</key>
		<string>Tower1_2_2</string>
		<key>towerCurrectName</key>
		<string>塔1_2_2</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>8</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>8</integer>
		<key>towerName</key>
		<string>Tower1_2_3</string>
		<key>towerCurrectName</key>
		<string>塔1_2_3</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array/>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>9</integer>
		<key>towerName</key>
		<string>Tower2_1_1</string>
		<key>towerCurrectName</key>
		<string>塔2_1_1</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>10</integer>
		<key>towerName</key>
		<string>Tower2_1_2</string>
		<key>towerCurrectName</key>
		<string>塔2_1_2</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>11</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>11</integer>
		<key>towerName</key>
		<string>Tower2_1_3</string>
		<key>towerCurrectName</key>
		<string>塔2_1_3</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array/>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>12</integer>
		<key>towerName</key>
		<string>Tower2_2_1</string>
		<key>towerCurrectName</key>
		<string>塔2_2_1</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>13</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>13</integer>
		<key>towerName</key>
		<string>Tower2_2_2</string>
		<key>towerCurrectName</key>
		<string>塔2_2_2</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>14</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>14</integer>
		<key>towerName</key>
		<string>Tower2_2_3</string>
		<key>towerCurrectName</key>
		<string>塔2_2_3</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array/>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>15</integer>
		<key>towerName</key>
		<string>Tower3_1_1</string>
		<key>towerCurrectName</key>
		<string>塔3_1_1</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>16</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>16</integer>
		<key>towerName</key>
		<string>Tower3_1_2</string>
		<key>towerCurrectName</key>
		<string>塔3_1_2</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>17</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>17</integer>
		<key>towerName</key>
		<string>Tower3_1_3</string>
		<key>towerCurrectName</key>
		<string>塔3_1_3</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array/>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>18</integer>
		<key>towerName</key>
		<string>Tower3_2_1</string>
		<key>towerCurrectName</key>
		<string>塔3_2_1</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>19</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>19</integer>
		<key>towerName</key>
		<string>Tower3_2_2</string>
		<key>towerCurrectName</key>
		<string>塔3_2_2</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array>
			<integer>20</integer>
		</array>
	</dict>
	<dict>
		<key>towerId</key>
		<integer>20</integer>
		<key>towerName</key>
		<string>Tower3_2_3</string>
		<key>towerCurrectName</key>
		<string>塔3_2_3</string>
		<key>attackDamage</key>
		<integer>10</integer>
		<key>attackSpeed</key>
		<integer>2</integer>
		<key>attackRange</key>
		<integer>50</integer>
		<key>towerPrice</key>
		<integer>100</integer>
		<key>normalFrameCount</key>
		<integer>1</integer>
		<key>effectFrameCount</key>
		<integer>4</integer>
		<key>projectileSpeed</key>
		<integer>200</integer>
		<key>nextLevel</key>
		<array/>
	</dict>
</array>
</plist>
